/* Các CSS này dành cho toàn bộ website và desktop */
body {
    background: #fff;
    color: 333;
}
.wrap_product{
    position: relative;
}
.countdown{
    position: absolute;
    top: 184px;
    /* left: 30%; */
    font-size: 16px;
    font-weight: bold;
    /* color: green; */
    /* padding: 5px; */
    color: black;
    right: 10px;
/*    background: rgba(10,0,0,0.5)*/
}

/*.product-list.hot li:hover {
    background: pink !important;
}*/

/* Dành cho điện thoại */
@media all and (max-width: 480px) {

}

/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {

}
